@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border:none;
  font-family:"Poppins", sans-serif;
  line-height: 1; 
}

.body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.body--blue{
  background-color: rgb(1, 82, 135);
}

.main{
  flex:1;
}

.header{
  position: fixed;
  z-index: 2;
  width:100%;
  top:0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 82, 135);
  align-items: center;
  font-size: 0.8em;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5)
}
.header__menu{
  margin-left:40px;
  stroke: white;
}
.header__logo{
  padding:10px 0;
  width:60px;
  height: max-content;
  border-radius: 9999px;
}
.header__search{
  margin-right:30px;
}
.active span{
  text-decoration: underline 2px rgb(1, 82, 135);
  text-underline-offset: 4px;
}
.header__nav-bar a{
  color:white;
  display:block;
  padding: 20px 10px;
}
.header__nav-bar{
  margin-right: 30px;
  width: max-content;
  display:flex;
  align-items: center;
  display: none;
}

.header__nav-bar--mobile{
  overflow-y: auto;
  overflow-x: hidden;
  top:0;
  left:0;
  width: 70%;
  height: 100dvh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position:absolute;
  z-index:4;
  background-color: rgb(248, 248, 250);
  display:flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.header__nav-bar--mobile__fechar{
  margin-top: 20px;
  margin-right: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__nav-bar--mobile ul{
  width: 100%;
}
.header__nav-bar--mobile li{
  gap:15px;
  align-items: left;
  display: flex;
  width: 100%;
}
.header__nav-bar--mobile__inicio{
  margin-top:15px;
  border-top: 2px solid rgb(1, 82, 135);
}
.header__nav-bar--mobile__meio{
    border-top: 2px solid rgb(1, 82, 135);
}
.header__nav-bar--mobile__fim{
  border-bottom: 2px solid rgb(1, 82, 135);
  border-top: 2px solid rgb(1, 82, 135);
}
.header__nav-bar--mobile i{
  color: rgb(1, 82, 135);
  font-size: 20px;
  width:25px;
}
.header__nav-bar--mobile a{
  display: flex;
  justify-content: flex-start;
  text-align: left;
  gap:10px;
  width: 100%;
  color:rgb(1, 82, 135);
  padding: 20px 20px;
  font-size: 1.3em;
}
.header__nav-bar--mobile a:active,.header__nav-bar--mobile a:active i{
  background-color:rgb(1, 82, 135);
  color:white;
}
.separar-header{
  padding: 20px 0;
}
.separar-footer{
  padding: 20px 0;
}
.main{
  display: flex;
  flex-direction: column;
  gap:60px;
}
.boas-vindas{
  background-color: rgb(1, 82, 135);
  margin-top: 50px;
  position: relative;
  z-index: 1;
  width:100%;
  height: 300px;
  display: flex;
}
.boas-vindas__img{
  width:100%;
  height: 70%;
  object-fit: cover;
}
.boas-vindas__shadow{
  position:absolute;
  z-index: 2;
  width:100%;
  bottom:29%;
  height: 100px;
  background:linear-gradient(to top, rgb(1, 82, 135) 10%, transparent 100%);
}
.boas-vindas__container{
  width: 100%;
  height: max-content;
  align-items: center;
  text-align: center;
  display:flex;
  flex-direction: column;
  position:absolute;
  z-index:4;
  bottom: 1%;
  left:50%;
  transform:translateX(-50%);
}
.boas-vindas__title{
  font-size: 2.5em;
  color:white;
}
.boas-vindas__subtitle{
  font-size: 0.9em;
  width: 90%;
  margin-bottom:20px;
  color: white;
}
.button{
  width:200px;
  height: 60px;
  border-radius:40px;
  background-color: white;
  font-weight: bold;
  font-size: 1em;
}
.button--disabled{
  color: gray;
  border: 2px solid gray;
}

.video{
  text-align: center;
  color:white;
  gap:10px;
  background-color: rgb(1, 82, 135);
  display:flex;
  flex-direction: column;
  align-items: center;
}
.video_title{
  font-weight: bold;
  font-size: 1em;
}
.video__video{
  border-radius: 20px;
}

.titulo{
  text-align: center;
  color:rgb(1, 82, 135) ;
  font-size: 2.3em;
  line-height: 1.2;
}
.historia{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap:10px;
}
.historia__descricao{
  line-height: 1.3;
  letter-spacing: -1px;
  margin:0 auto;
  width: 85%;
  font-weight: 300;
  text-align:justify;
}
.historia span{
  font-weight: bold;
}
.historia--white{
  color:rgb(255, 255, 255) ;
}

.historia--blue{
  color:rgb(1, 82, 135) ;
}
.figures{
  gap:60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.figures__section{
  gap:20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.figures__subtitle{
  color:white;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
}
/* CSS PARA MAPS */
.maps{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
  gap:10px;
}
.maps__title{
  font-size: 1.3em;
}
.titulo span{
  font-weight: bold;
}
.missao{
  list-style-position: inside;
  margin: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;

}
.lista{
  color:rgb(1, 82, 135) ;
  font-size: 16px;
}
.galeria{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap:30px;
}
.galeria__card{
  overflow: hidden;
  width: 250px;
  height: 220px;
  border: 5px solid rgb(1, 82, 135);
  border-radius: 20px;
  color: rgb(1, 82, 135);
  transition: transform 0.3s ease
}
.galeria__card:hover{
  transform: scale(1.1)
}
.galeria__img{
  object-fit: cover;
  width:100%;
  height: 130px;
}
.galeria__text{
  height: calc(100% - 140px);
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
  text-align: center;
}
/* ----------------------- */
/*FOOTER*/
.footer{
  width: 100%;
  background-color: white;
  padding: 20px;
  color:rgb(1, 82, 135);

}
.footer--blue{
  background-color: rgb(1, 82, 135);
  color: white;
}
.footer__text{
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}
/*TABLETS*/
