:root {
  font-family: var(--font-ubuntu), system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --color-primary: #103758;
  --color-primary2: #092235;
  --color-accent:  rgb(241, 116, 43);
  --color-bg:      #FFFFFF;
  --color-text:    #0F172A;
  --color-muted:   #f3e4e4;
}

.center{
  display: flex;
  justify-content: center;
}

.title{
  font-size: 4em;
}

.subtitle{
  font-weight: 400;
  font-size: 1.1em;
  color: var(--color-muted);
}

.noticia-link {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}

*{
  font-family: var(--font-ubuntu);
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a,h1,h2,h3,h4,p,img{
  color: var(--color-bg)
}

body{
  background-color: var(--color-primary);
  margin-bottom: 5em;
}

.link{
  text-align: center;
}

.introduction{
  margin-top:5em;
  display: flex;
  gap:4em;
  justify-content: center;
  align-items: center;
}

.figures{
  padding: 6em 0;
  background-color: var(--color-primary2);
  align-items: self-end;
  margin-top: 8em;
  display:flex;
  justify-content: space-evenly;
}


.figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: transform 0.2s ease;
}

.figure:hover{
  transform: scale(1.1);
}

.figure:hover svg,.figure:hover p{
  color: var(--color-accent);
}

.figure svg{
  color: var(--color-bg);
}

.figure p{
  font-weight: 500;
  font-size: 1.3em;
}

.principal{
  padding-bottom: 3em;
}

.counter-container{
  gap:2em;
  margin: 6em 0;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-title{
  text-align: center;
  font-size: 2.4em;
  color: var(--color-bg);
}

.counter{
  margin-top: 2em;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap:6em;
}

.counter-l1{
  line-height: 80px;
  font-size: 5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.counter-plus{
  color: var(--color-accent);
}

.counter-text{
  line-height: 20px;
  margin-left: 20px;
  display: flex;
  text-align: center;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;     
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-bg);
  font-size: 1.5em;
  font-weight: 700;
}

.home-comites{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 4em 0;
  background-color: var(--color-primary2);
  margin-top: 5em;
}

.FAQS-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 0;
}

.accordions{
  display: flex;
  flex-direction: column;
  gap:1em;
}